body{
    text-align: center  ;
}
div{
    background: rgb(157, 209, 212);
    width: 200px;
    padding: 1em 2em;
    border-radius: 10px;
    margin-bottom: 1em;
    text-align: center;
}
div span{
font-weight: bold;
}
button{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: .5em;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(226, 88, 88);
    color: #fff;

}